<%- include('partials/header') -%>

<div class="container w-screen mx-auto px-4  md:px-8 font-sans mt-5" >
  <article class="container max-w-3xl mx-auto px-4 mt-8" >
    <h1 class="font-bold text-4xl text-center">About Iron Maps</h1>
    <div class="my-8">
      <h2 class="font-bold text-xl my-4">What is it?</h2>
      <p class="my-4">Iron Maps is a gym finder for enthusiasts and strength athletes. We make it easy to find a gym with our curated directory of gyms.</p>
      <p class="my-4">When away from home it's difficult to find a gym that fits your training style when it comes to equipment and atmosphere in a training facility. Especially if you are an enthusiast or if you compete in a strength sport like strongman, powerlifting, weightlifting, or bodybuilding.</p>
    </div>
    <div class="my-8">
        <h2 class="font-bold text-xl my-4">Our Mission</h2>
        <span class="my-4">To make strength global</span>
        <p class="my-4">Wherever you are and wherever you're traveling - we want to make accessing the best specialized training facilities in the world effortless.</p>
    </div>
    <div class="my-8">
        <h2 class="font-bold text-xl class="my-4"">Can I add my gym?</h2>
        <p class="my-4">Of course! Everyone is welcome to submit as many gyms as they want, but all submissions will be reviewed to make sure only suitable gyms are added to the list and the information given is accurate.</p>
        <span>You can submit a gym post <a class= "text-blue-400 hover:text-blue-700" href="/addGymPage">here</a>.</span> 
        
    </div>
    <div class="my-8">
        <h2 class="font-bold text-xl my-4"">What is the criteria for a gym to be added?</h2>
        <p class="my-4">Gyms come in all different shapes and sizes. Especially in strength sports. Which is why we have some general criteria that gyms must meet, and then there are criteria that should be met in other areas be considered a gym for a specific strength sport.</p>
        <p class="my-4">The most basic screening is <strong>whether you can use chalk</strong>. This works as a great initial filter because basically all strength sports regularly use chalk.</p>
        <p class="my-4">After that, we want to make sure the gym caters to strongman, powerlifting, weightlifting, bodybuilding, and any combination thereof. Usually, looking at the equipment that the facility has reveals most of what we need to know about whether it's suitable for a particular sport. </p>
        <p class="my-4">Additionally, the gym may host competitions or it might be home to a team of competitors who meet regularly. It likely also has coaches that specialize in particular strength sports too.</p>
        <p class="my-4">Finally, most of the gyms are independently owned and run. It's not a requirement, it just happens to be that the gyms that fit best are generally not franchises.</p>
    </div>





  </article>
</div>





<%- include('partials/footer') -%>