



<section class="bg-gradient-to-r from-gray-100 to-gray-300">
    <div
      class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center"
    >
      <div class="mx-auto max-w-2xl text-center">
        <img class= "max-w-xl" src="/public/imgs/iron-maps-high-resolution-logo-black-on-transparent-background.png" alt="">
     
  
        <p class="mx-auto mt-4 max-w-xl sm:text-xl sm:leading-relaxed">
          The gym finder for enthusiast lifters & strength athletes.
        </p>
  
        <div class="mt-8 flex flex-wrap justify-center gap-4">
          <a
            class="block w-full rounded border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-white focus:outline-none focus:ring active:text-opacity-75 sm:w-auto"
            href="/signup"
          >
            SIGN UP
          </a>
  
          <a
            class="block w-full rounded border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-white focus:outline-none focus:ring active:text-opacity-75 sm:w-auto"
            href="/login"
          >
            LOGIN
          </a>
        </div>
      </div>
    </div>
  </section>
  

<%- include('partials/indexFooter') -%>