<%- include('partials/header') -%>

 <!-- EDIT REVIEW FORM -->
 <div class="">
    <h2>Update Review Page</h2>
    <!-- TODO: fix action link -->
    <form action="/review/updateReview/<%= review._id%>?_method=PUT" method="POST">
      <div class="">
          <label for="review" class="form-label">Review</label>
          <input type="text" class="form-control" id="review" name="review" value="<%= review.review%>">
      </div>
      <button type="submit" class="">Submit</button>
    </form>
  </div>













<%- include('partials/footer') -%>